

body, html{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}

.bg { 
    height: 100vh;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hiw{
	width: 85%;
	height: 15px;
	color: black;
	top: 15%;
	left: 55%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
}



.row {
    display: flex;
}

.column1 {
    flex: 40%;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word !important;
}

.column2-2 {
    flex: 50%;
    padding-left:1%;
}

.imgService{
    height: 97%;
    width: 90%;
    padding-right: 0%;
    padding-top: 0%;
    background-image: url("../images/propaganda/Servicios.jpeg");
    background-size: cover;
}

.imgCurso{
    height: 97%;
    width: 90%;
    padding-right: 0%;
    padding-top: 0%;
    background-image: url("../images/propaganda/Cursos.jpeg");
    background-size: cover;
}

.ph{
    padding: -1px 58px;
    text-align: justify;
    text-justify: inter-word !important;
}

.ph2{
    padding-left: 7pc !important;
    text-align: justify;
    text-justify: inter-word !important;
}

.color{
    background: #286090 !important;
}

.sub{
    padding-left: 30px;
}

