.slideSize{
    height: 500px;
    width: 900px;
    padding: 50px 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.image1{
    background-image: url("../images/propaganda/Propaganda1.jpeg");
    width: 700px !important;
    height: 450px  !important;
    background-size: cover;
}

.image2{
    background-image: url("../images/propaganda/Propaganda2.jpeg");
    width: 100%;
    height: 450px  !important;
    background-size: cover;
}

.image3{
    background-image: url("../images/propaganda/Propaganda3.jpeg");
    width: 100%;
    height: 450px  !important;
    background-size: cover;
}

.tabla{
    width: 900px;
    padding: 50px 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.row {
    display: flex;
}

.column1 {
    flex: 50%;
    padding: 37px 70px;
}

.column2 {
    flex: 50%;
    padding: 37px 70px;
}

table {
    border-collapse: collapse;
    width: 90%;
}

table, td, th, th {
    border: 1px solid black;
    text-align: center;
}

td{padding:1%;}

.color{
    background: #286090 !important;
}
